body {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 14px;
  font-weight : bold;
  line-height : 24px;
  min-width: 960px;
}

h1 {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 30px;
  font-weight : bold;
  line-height : 42px;
}

h2 {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 24px;
  font-weight : bold;
  line-height : 30px;
}

header {
  width            : auto;
  background-color : #000000;
}

.container-catalog {
  width         : 960px;
  min-height    : 70px;
  margin-right  : auto;
  margin-bottom : 60px;
  margin-left   : auto;
}

.catalog-navigation {
  float : left;
}

.catalog-navigation ul {
  float          : left;
  margin-left    : 30px;
  padding-left   : 0;
  text-transform : uppercase;
}

.catalog-navigation li {
  display         : inline-block;
  margin-top      : 10px;
  padding-right   : 20px;
  padding-left    : 20px;
  color           : #ffffff;
  vertical-align  : top;
  font-size       : 16px;
  font-weight     : bold;
  line-height     : 20px;
  list-style-type : none;
}

.catalog-navigation li:first-child {
  padding-left : 0;
}

.catalog-navigation a {
  color           : #ffffff;
  text-decoration : none;
  font-size       : 16px;
  font-weight     : bold;
}

.user-block {
  float          : right;
  margin-top     : 24px;
  margin-left    : 180px;
  color          : #000000;
  text-transform : uppercase;
}

.logo {
  padding-top : 15px;
}

.catalog-container {
  width  : 960px;
  margin : 0 auto;
}

.submit-group {
  width : 230px;
  float : left;
}

.showcase {
  width : 730px;
  float : right;
}

.clearfix::after {
  content : "";
  display : table;
  clear   : both;
}

.showcase article {
  width  : 220px;
  height : 286px;
  float  : left;
  margin : 10px;
}

.pager {
  clear : both;
}

.catalog-breadcrumbs a {
  text-decoration : none;
}

.catalog-breadcrumbs li {
  display         : inline-block;
  list-style-type : none;
}

.manufacture li {
  list-style-type : none;
}

.product-group li {
  list-style-type : none;
}

.galery {
  width : 460px;
  float : left;
}

.galery-small img {
  margin       : 0;
  padding-left : 15px;
}

.galery-small img:first-child {
  padding-left : 0;
}

.galery-description {
  width : 400px;
  float : right;
}

.galery-description .left {
  float : left;
}

.galery-description .right {
  float : right;
}

.galery-description .main-description {
  clear : both;
}

footer {
  min-height : 190px;
  clear      : both;
}

.footer-container {
  display : table;
  width   : 960px;
  margin  : 0 auto;
}

.footer-contacts {
  display : table-cell;
  width   : 330px;
}

.footer-social {
  display : table-cell;
  width   : 160px;
}

.footer-copyright {
  display : table-cell;
  width   : 160px;
}
