body {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 14px;
  font-weight : bold;
  line-height : 24px;
}

h1 {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 30px;
  font-weight : bold;
  line-height : 42px;
}

h2 {
  color       : #000000;
  font-family : "PT Sans Narrow",
                "Arial",
                sans-serif;
  font-size   : 24px;
  font-weight : bold;
  line-height : 30px;
}

html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  background-color: #000000;
}

.container-catalog {
  width: 960px;
  min-height: 70px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-navigation {
  float: left;
}

.catalog-navigation ul {
  text-transform: uppercase;
  float: left;
  padding-left: 0px;
  margin-left: 30px;
}

.catalog-navigation li {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  vertical-align: top;
  margin-top: 10px;
  line-height: 20px;
}

.catalog-navigation li:first-child {
  padding-left: 0px;
}

.catalog-navigation a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.user-block {
  float: right;
  text-transform: uppercase;
  color: #000000;
  margin-top: 24px;
  margin-left: 180px;
}

.logo {
  padding-top: 15px;
}

.catalog-container {
  width: 960px;
  margin: 0 auto;
}

.submit-group {
  float: left;
  width: 230px;
}

.showcase {
  float: right;
  width: 730px;
}

footer {
  clear: both;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.showcase article {
  float: left;
  width: 220px;
  height: 286px;
  margin: 10px;
}

.pager {
  clear: both;
}

.catalog-breadcrumbs a {
    text-decoration: none;
}

.catalog-breadcrumbs li {
    list-style-type: none;
    display: inline-block;
}

.manufacture li {
    list-style-type: none;
}

.product-group li {
  list-style-type: none;
}
